[2015-11-06 20:09] LorenzMeier opened #3 "Test failing on Mac OS"
@mcharleb I get this output on Mac OS. Do you have specific pointers as how to debug?

[code]

[2015-11-06 20:31] mcharleb commented on #3
In test/testdriver.hpp add a printf
[code]
if you don't see this printing out after "start" or "reading" then the WorkItem was not rescheduled.

[2015-11-06 20:34] LorenzMeier commented on #3
I'm not getting it:
[code]

[2015-11-06 20:45] mcharleb commented on #3
I'm fixing up pressure sensor unit test, then I'll try to debug it via Travis....

[2015-11-06 23:05] mcharleb commented on #3
@LorenzMeier In SyncObj::waitOnSignal(), the pthread_mutex_timedwait() is returning "60". What does than mean on MacOS? ETIMEDOUT? What is the value in errno.h?

int SyncObj::waitOnSignal(unsigned long timeout_ms)
{
        int ret;
        DEBUG("wait %p\n", &m_new_data_cond);
        if (timeout_ms) {
                struct timespec ts = absoluteTimeInFuture(timeout_ms);
                ret = pt

[2015-11-07 00:25] mcharleb commented on #3
From the last build log on MacOS:
start
2209223 DevObj::start
2209225 DevObj::start 2
reading
timed out: Operation timed out (ret: 60)
test FAILED (60)
2209240 DevObj::removeHandle (0x7fff5aa1d170)
2209244 DevObj::stop

That means that the time from the read starting to the reported timeout (which should be 1 second) was actually 15 usec!

[2015-11-07 00:39] mcharleb commented on #3
2154793 TEST 6: Read after setSampleInterval
2154807 HRTWorkQueue::process In while
2154816 schedule
2154822 waiting for work (10000000)
2154832 schedule 2
2154838 HRTWorkQueue::process In while
2154853 schedule 3
2154876 waiting for work (10000000)
2154905 HRTWorkQueue::process In while
2154917 start
2154920 DevObj::start
2154922 DevObj::start 2
2154923 reading

[2015-11-07 02:10] mcharleb commented on #3
@LorenzMeier Fixed in https://github.com/PX4/DriverFramework/pull/4

[2015-11-07 02:11] #3 closed

[2016-01-02 08:52] LorenzMeier opened #14 "Hexagon SDK install on console never completes"
When trying to install in Vagrant, the SDK install of this component gets stuck: qualcomm_hexagon_sdk_2_0_eval.bin

Earlier versions did work.

[2016-01-12 19:46] LorenzMeier opened #18 "I2C Driver: Confusion about operation on code inspection"
@mcharleb I don't see from looking at the code how the BMP280 would return valid data - have you tested the version in master on hardware?

The reason I ask is the following sequence:

Registers are being read here:
https://github.com/PX4/DriverFramework/blob/master/drivers/pressure/bmp280/BMP280.cpp#L172

The I2C dev handle only becomes active here:
https://github.com/PX4/DriverFramework/blob/mas

[2016-02-02 08:27] julianoes opened #19 "MPU9250 stop leads to adsp reset"
The adsp appears to reset when the driver is stopped and cleaned up.

Steps to reproduce:
[code]

This can be reproduced with 5745908fb6e896213f147016da01fb4dbd86c230

[2016-02-02 08:55] julianoes commented on #19
This seems to fix it but I don't get why:
https://github.com/PX4/DriverFramework/commit/32a53ceadcaa7c3511fba2af10470ed75dc8179b

[2016-02-09 16:01] julianoes commented on #19
Closing because it hasn't hunted us so far.

[2016-02-09 16:01] #19 closed

[2016-02-09 16:01] julianoes commented on #18
This has been resolved, the BMP280 unit test works.

[2016-02-09 16:01] #18 closed

[2016-02-10 16:16] julianoes opened #20 "Support for I2C ESCs"
We should support ESCs over I2C.

http://www.rcgroups.com/forums/showthread.php?t=2032252

[2016-02-11 11:07] mhkabir commented on #20
I've been evaluating SimonK UART ESCs for use with the Snapdragon Flight. I believe it might be more robust compared to i2c.
I use these ESCs : http://www.hobbyking.com/hobbyking/store/__43709__Afro_ESC_20Amp_Multi_rotor_Motor_Speed_Controller_SimonK_Firmware_.html

They have exposed pads/pins under the shrinkwrap breaking out both the UART and the I2C. Uses a very simple UART protocol [https://gi

[2016-02-11 15:39] julianoes commented on #20
@LorenzMeier FYI

[2016-02-13 10:11] LorenzMeier opened #21 "Submodule handling: Currently disabled"
I have disabled the submodule handling on master currently because its non-transparent for developers. We might need to re-introduce something smarter as done in PX4 upstream.

[2016-02-13 10:12] LorenzMeier commented on #21
In fact that's already fixed on master. Testing..

[2016-02-13 10:12] #21 closed

[2016-02-13 15:50] julianoes opened #22 "Remove printf in i2c.c"
@mcharleb, @jywilson:

There seems to be an unnecessary leftover printf in i2c.c. It seems to appear on each I2CDevObj::_writeReg()

[code]

If I'm correct, could you please get rid of it?

[2016-02-14 10:40] julianoes opened #23 "i2c write() leads to resets"
@mcharleb, @jywilson
When the write of i2c.c is used, this leads to different ADSP restarts.
This needs investigation and fixing to make the HMC5883 driver work properly.

It is not clear to me if this bug is just because there is a leftover printf in i2c.c (see https://github.com/PX4/DriverFramework/issues/22), however, I've seen ADSP restarts just because of printfs, so I wouldn't be surprised.

[2016-02-14 10:43] julianoes opened #24 "Remove confusing errors/warnings"
@mcharleb, @jywilson:

When using the DriverFramework or PX4 Firmware on the Snapdragon Flight, there are various confusing warnings/errors.

I would assume that they need fixing or removal. Otherwise, once more users start using the Snapdragon Flight, there will be plenty of confusion and support burden for us.

I'm referring to output like this:

[code]

[2016-02-14 13:57] julianoes opened #25 "Compile error: sys/ttydefaults.h"
```dspal/include/termios.h:99:10: fatal error: 'sys/ttycom.h' file not found```
and
```dspal/include/termios.h:100:10: fatal error: 'sys/ttydefaults.h' file not found```

This happens when trying to compile the PX4 GPS driver.
Where would this file be? What is it for?

[2016-02-14 14:02] LorenzMeier commented on #25
Its a BSD standard header. Either missing or the QuRT default include path is missing.

[2016-02-14 14:31] julianoes opened #26 "poll and pollfd not available?"
Is it possible that we currently can't access poll and pollfd on QURT? This is needed in the GPS driver which wants to poll on the file descriptor of the UART.

See http://pubs.opengroup.org/onlinepubs/009695399/basedefs/poll.h.html

[2016-02-14 14:38] julianoes opened #27 "Conflicting pid_t definitions"
There are two conflicting definitions of ```pid_t``` around:

[code]

[2016-02-14 14:40] julianoes commented on #14
I have never seen this. Is this still an issue?

[2016-02-14 14:50] LorenzMeier opened #28 "Using pthread_cond_timedwait() can lead to hang"
https://github.com/PX4/Firmware/issues/3726

[2016-02-14 15:06] julianoes opened #29 "M_PI_F not available"
It would be nice if dspal_math.h also contained the float constants and not just the doubles.

[2016-02-14 15:10] julianoes commented on #29
Actually, ```#include <px4_defines.h>``` does the job, closing.

[2016-02-14 15:10] #29 closed

[2016-02-14 15:40] julianoes opened #30 "Link to termios libs"
How can we link to the termios libs?
Help would be appreciated, thanks.

[code]

[2016-02-14 16:18] LorenzMeier commented on #26
Currently looks like this might require non-standard / non-POSIX compliant use of callbacks.

[2016-02-14 16:21] LorenzMeier commented on #26
https://github.com/ATLFlight/dspal/blob/master/test/dspal_tester/adsp_proc/serial_test_imp.c

[2016-02-15 13:34] julianoes commented on #30
@mcharleb:

Add what? Adding termios didn't work.

[2016-02-15 17:09] julianoes commented on #26
https://github.com/ATLFlight/dspal/blob/master/test/dspal_tester/adsp_proc/serial_test_imp.c#L212

[2016-02-15 17:48] julianoes commented on #23
@jywilson: to reproduce:

Checkout the latest [feature_mpu](https://github.com/PX4/DriverFramework/tree/feature_mpu) branch.

[code]

If it doesn't compile anymore, try ```git clean -d -f -x```, for me some leftover folders with auto-saved files made cmake stumble.

Run it:
[code]

Without sensor attached, it will just hang, however you could probably try to comment out the while loop in [test.cpp

[2016-02-16 19:44] julianoes opened #31 "mini-dm creates a huge load when disconnected"
Whenever the mini-dm somehow gets disconnected (e.g. through because the Snapdragon is restarted, or disconnected) but is still running, it seems to be busy looping and filling one CPU. It would be nice if it was slowed down just a bit while trying to reconnect.

This happens on Ubuntu and the Snapdragon Flight connected over USB2.0.

[2016-02-17 08:52] LorenzMeier commented on #20
I got these now at ETH and we'll move on with interfacing them.

[2016-02-19 01:25] jywilson commented on #23
Hey Julian,

I checked the aDSP static image on my end and I don't see a crash, but I do see an I2C bus error.  I also don't see the extra debug output you mentioned.  Please try to obtain an updated static image ("Post CS Release"), to at least prevent the crash.  I am guessing, but I suspect that you see a crash because your older static image does not handle the I2C bus error correctly.

Regard

[2016-02-19 07:25] julianoes commented on #23
@jywilson Thanks for your pointers. Note that I'm currently trying to talk to an HMC5883 on the external I2C bus and not the mag which is internal in the MPU9250.

At this point, I'm blocked on this until I get a new static image.

[2016-02-19 09:25] julianoes commented on #23
Until I get the new static image and can further debug this, I need to workaround it by using continuous mode in the HMC5883 driver which does not require an I2C write in each measurement cycle, see: 07257d91c73e0540ffe3867cb6f52c4a9057bc4c.

[2016-02-19 15:58] julianoes commented on #20
I've been looking for info which pins/pads are for I2C but no success yet for the Afro 12A. If anyone knows, let me know.

[2016-02-19 16:01] mhkabir commented on #20
@julianoes Its on the silkscreen.
![39708 1](https://cloud.githubusercontent.com/assets/5557676/13180810/0b986948-d750-11e5-9e4b-52566734431d.jpg)

[2016-02-19 16:04] LorenzMeier commented on #20
Will be smaller on the 12 A. We also have 20A if needed.

[2016-02-19 16:07] mhkabir commented on #20
Checked my 12A's. The pad pinout is the same, but nothing printed on the silkscreen (no space, likely.) The 20A+ have the silkscreen print.

[2016-02-19 16:12] julianoes commented on #20
Ah, thanks @mhkabir, I was gonna say it's not on the silkscreen.

[2016-02-19 21:58] bo-rc opened #33 "MPU9250::start() calls DevOpen( ) which uses m_dev_instance_path"
Why we need to use `m_dev_instance_path` in the [`open()` function](https://github.com/PX4/DriverFramework/blob/a11450bbadc599a1a4478aa5e7e60675a6c07275/framework/include/SPIDevObj.hpp#L93)? i have to change it to `m_dev_path` to make RPi2 find the sensor.

[2016-02-20 06:57] mhkabir commented on #20
@julianoes Quick (off topic) question -  Can the Snapdragon power module do 3S?

[2016-02-20 16:34] mcharleb commented on #33
Use DevMgr::getHandle(h) to open  a DriverFramework device. It will find the device instance if the devices is implemented as a real or virtual device.

[2016-02-21 22:49] bo-rc commented on #33
@mcharleb Thank you very much for commenting! What you said makes sense to me. However, there is a call in MPU9250.cpp: [This line](https://github.com/PX4/DriverFramework/blob/a11450bbadc599a1a4478aa5e7e60675a6c07275/drivers/mpu9250/MPU9250.cpp#L219) in `start()` which calls `DevOpen()`  to open a device without using a handle and it tries to open `m_dev_instance_path`. The correct path is in `m_d

[2016-02-22 14:03] julianoes commented on #20
@mhkabir According to https://www.intrinsyc.com/snapdragon-embedded-development-kits/qualcomm-snapdragon-flight/ it says 2-6s.

[2016-02-22 14:21] mhkabir commented on #20
Ah cool, thanks!
On 22 Feb 2016 7:33 pm, "Julian Oes" <notifications@github.com> wrote:

[2016-02-22 16:06] bo-rc commented on #33
After tracing the function calls, i think
the block of code starting with [`int result = devOpen(0);`](https://github.com/PX4/DriverFramework/blob/a11450bbadc599a1a4478aa5e7e60675a6c07275/drivers/mpu9250/MPU9250.cpp#L219) in `MPU9250::start()` might need to be deleted. Because it attempts to open the device `m_dev_instance_path` using an `open()` call. The following bock of code starting with [`re

[2016-03-01 12:45] julianoes commented on #23
@jywilson To reproduce this, you can use the branch:
https://github.com/PX4/DriverFramework/tree/debug_mag

[2016-03-02 09:06] julianoes commented on #22
This has been resolved with the latest static aDSP image, thanks @jywilson.

[2016-03-02 09:06] #22 closed

[2016-03-02 09:07] julianoes commented on #23
This was due to a leftover printf, see #22. Fixed in the latest static aDSP image.

[2016-03-02 09:07] #23 closed

[2016-03-03 12:54] julianoes commented on #25
A current workaround is pushed here: https://github.com/PX4/dspal/commit/eba0a18728aace328219d8985a08c7a506886b11

[2016-03-03 20:41] julianoes opened #35 "External mag HMC5883 needs to be started after GPS"
The serial open call of the GPS currently leads to a crash if the HMC5883 driver is already running.
This needs investigation.

[2016-03-03 23:08] julianoes commented on #20
I tried talking over i2C to the a stock Afro ESC 12A but it didn't respond yet.
I'll have to check with a scope next.

[2016-03-06 21:20] julianoes commented on #28
This is resolved in the latest static image.

[2016-03-06 21:20] #28 closed

[2016-03-07 20:53] jywilson commented on #25
DSPAL does not currently support the termios API's.  The same functionality is provided in the form of IOCTL's.

[2016-03-08 16:44] julianoes commented on #25
@jywilson Understood, so the workaround (see https://github.com/PX4/dspal/commit/eba0a18728aace328219d8985a08c7a506886b11) is wrong?

[2016-03-08 19:51] julianoes commented on #27
This seems resolved in https://github.com/PX4/dspal/commit/bf9e300d4f4b74620af7d3170aec0e6d46094a72

[2016-03-08 19:51] #27 closed

[2016-03-12 10:17] LorenzMeier commented on #14
Fixed with latest toolchain.

[2016-03-12 10:17] #14 closed

[2016-03-12 10:19] LorenzMeier opened #39 "Work queue change breaks SITL"
@mcharleb I had to make the changes in 67cbaea to resurrect SITL. I made them in a way so they do not affect QuRT. Can you help us to understand if you think your recent change in https://github.com/PX4/DriverFramework/commit/e62faaccae8775fd4dc237d4c43fb29a62603014 was bad or if the barosim driver has a bug which was exposed by the change?

[2016-03-15 09:25] julianoes opened #41 "Instructions how to use tests"
There seem to be unit tests for the DriverFramework, however, I don't see instructions how to use them.

[2016-03-15 16:40] mcharleb commented on #41
@julianoes I am back in SD. I can help you run the unit tests.

[2016-03-16 09:05] julianoes commented on #35
This is resolved in the latest static image.

[2016-03-16 09:05] #35 closed

[2016-03-16 09:15] julianoes commented on #25
Closing for now, until there is termios support, see #30.

[2016-03-16 09:15] #25 closed

[2016-03-16 09:16] julianoes commented on #41
@mcharleb How do I run the tests?

[2016-03-16 09:19] julianoes commented on #31
I have received a fix for this. However, I'm not sure when and how the rest of the world will receive the fix. Closing since no one else is complaining.

[2016-03-16 09:19] #31 closed

[2016-03-16 09:20] julianoes commented on #24
The only warning remaining currently is:

[code]

[2016-03-17 09:37] julianoes opened #44 "Support for RPi/Navio"
Let's keep track about the unit tests on the respective platforms:

<table>
<tr>
<td></td>
<td>RPi1</td>
<td>RPi2</td>
<td>RPi2</td>
</tr>
<tr>
<td>Navio+</td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>Navio2</td>
<td></td>
<td>MPU9250 pass
</td>
<td></td>
</tr>
</table>

[2016-03-17 09:47] julianoes commented on #41
Done, see https://github.com/PX4/DriverFramework/commit/d1e0b6e2beff3b2244c67a550fb32dd37f9858e8

[2016-03-17 09:47] #41 closed

[2016-03-17 09:48] julianoes commented on #39
Fixed in #43.

[2016-03-17 09:48] #39 closed

[2016-03-17 09:48] julianoes commented on #33
Fixed in #32/#42.

[2016-03-17 09:48] #33 closed

[2016-03-17 09:49] julianoes commented on #20
I don't have time for this right now, anyone interested feel free to pick it up.

[2016-03-17 15:16] bo-rc commented on #44
Thank you @julianoes , i am getting a Navio2 so i will be able to work on both. I'm busy recently but i should be able to get back to development by this weekend.

[2016-03-17 15:29] julianoes commented on #44
Nice, looking forward to that!

[2016-03-20 03:23] mhkabir commented on #20
I'm taking this one up. I'll be using the UART, if that's not an issue.

[2016-03-20 06:56] mhkabir commented on #20
This is working now on a Pixhawk. Adding a i2c mode to my "simonk_esc" driver should be very trivial. I might even do it myself when I get some time.

@julianoes @LorenzMeier Can you please get me that debug adapter so that I can bring my Snapdragon board back up? Thanks.

[2016-03-21 23:18] TomPaynter commented on #20
The SimonK firmware partially supports the Mikrokopter I2C protocol. This allows the motor speed to be controlled by sending two-byte commands over I2C.  Data can be read back from the ESC over I2c, however in the standard SimonK firmware these values are constants that do not cause errors in Mikrokopter flight controller.

To drive more than one ESC, however, each ESC needs to be programmed with

[2016-03-29 22:56] blankered commented on #44
I have a Navio 2 and Navio +. Let me know if you need anything tested or how to help.

[2016-03-30 07:11] LorenzMeier commented on #44
@blankered Could you try to run the Navio 2 config on it?

[2016-04-12 01:50] mcharleb commented on #26
@jywilson Is poll() supported in DSPAL?

[2016-04-18 08:22] nicolaerosia opened #56 "IIO support on Linux"
Is anyone working on IIO support for Linux?

[2016-04-18 08:53] LorenzMeier commented on #56
We've looked into it and its scheduled, but we haven't started yet. Would you like to take a stab? There is clearly a need for a flight-stack independent abstraction layer on top of IIO.

[2016-04-18 19:46] nicolaerosia commented on #44
RPi3, compiled.
./build_rpi2/drivers/mpu9250/test/df_imu_test
2073442 count: 1000
2073453 IMU: accel: [-0.19, 2.71, 9.47] m/s^2
2073476      gyro:  [-0.03, -0.00, 0.00] rad/s
2073489      temp:  51.55 C
2073499 Closing IMU sensor

2073656 Test PASSED

[2016-04-18 19:52] LorenzMeier commented on #44
Nice! Would you be interested to push this further along until flight-readiness?

[2016-04-18 20:00] nicolaerosia commented on #44
I am interested, but I need a TODO list.

[2016-04-18 20:51] LorenzMeier commented on #44
Ok, so we already have an RPI config in the Firmware repo. Start off there, create a RPI3 config, then work through it to get all sensors up and running (the Snapdragon flight config should serve as starting point).

[2016-04-21 15:36] julianoes opened #58 "SD card and nsh"
Document the magic nsh / mavlink switching by using an SD card or not.

This was raised by @Michvw.

[2016-04-21 16:32] mhkabir commented on #58
http://dev.px4.io/advanced-system-console.html

And you created it in DriverFramework, not Devguide ;)

[2016-04-22 05:43] julianoes commented on #58
Haha stupid me, thanks.

[2016-04-22 05:43] #58 closed

[2016-04-22 16:20] julianoes opened #60 "Add mag support to MPU9250 driver"
It would be great to have support for the mag included in the MPU9250.

The driver is here: https://github.com/PX4/DriverFramework/tree/master/drivers/mpu9250
And the wrapper for PX4 is here: https://github.com/PX4/Firmware/tree/master/src/platforms/posix/drivers/df_mpu9250_wrapper

I suggest to start this work after #57 is merged.

[2016-04-28 09:13] nacho-carnicero commented on #44
I'm also interested in contributing to the integration of PX4 on the RPi3/Navio2 configuration. I own the hardware so I can test code if needed, and I can contribute to the code although I'm not a big expert. Let me know if I can do something!

[2016-04-30 04:11] mhkabir opened #66 "Latest Emlid RPi2 image breaks DF"
Just updated to the latest Emlid Raspbian image from here : https://docs.emlid.com/navio2/Navio-APM/configuring-raspberry-pi/
[code]
Console is spammed with these messages on running the MPU9250 test app. @bo-rc could you have a look please.

[2016-05-03 07:46] julianoes commented on #66
Thanks for reporting. It seems bad news that they don't support bigger buffers. I guess we'll have to do multiple bulk reads for Raspberry Pi but the overhead might make reading of the FIFO buffer quite slow.

[2016-05-03 08:39] LorenzMeier opened #68 "The DF timer includes drift"
@mcharleb @jywilson If you ask the DF for a callback at a 4000 us interval you're getting 4000 us + scheduling overhead, not 4000 us on average, which is a problem for us. I will look with @bkueng into this, but if you have availability it would be great if you could propose a fix.

[2016-05-03 22:52] jywilson commented on #68
The work queues might need to be optimized.  Also, we can experiment with thread priorities to see if we can make it more deterministic.

Is there a particular target latency you would like to see?  What level of jitter from the target 4000 us would be considered acceptable?

If you could produce some standalone sample code that demonstrates the problem, this would really help in validating that a

[2016-05-04 02:35] mcharleb commented on #68
I can change it to expire at last expiry time + delta vs current time + delta

[2016-05-04 06:46] LorenzMeier commented on #68
We see 4200 - 6000 us instead of 4000. NuttX gives us 4 us jitter. I would love to see something closer to that order of magnitude.

[2016-05-04 19:52] mcharleb commented on #68
It looks like this was fixed in #71

[2016-05-05 09:46] #68 closed

[2016-05-05 20:38] jywilson commented on #26
No, poll is not supported in DSPAL.  It's something we can do but it would not be a trivial change.

Can you give me some idea of how important such a change is, just in terms of trying to decide what to work on first?

[2016-05-05 20:39] jywilson commented on #60
You can assign this issue to me.  It's something I am working on now and should have done this week.

[2016-05-05 20:43] jywilson commented on #24
I will work on this getting rid of this warning.  May take a few days though, because this code change is in a driver I don't usually maintain.

[2016-05-05 20:54] julianoes commented on #26
All the issues here labelled with "enhancement" are nice-to-haves but not blocking.

Of importance are internal mag and `/dev/mem` locking.

[2016-05-05 20:55] julianoes commented on #24
It's definitely confusing "all" or at least most users in the beginning, so it would be nice to get rid of it.

[2016-05-09 08:29] bkueng opened #73 "Unit tests fail on master"
`make run` fails on master:
[code]

This even fails on CI Travis, but it does not report it as an error.
Looks like the tests use a very tight timing bound. By increasing the bound from 50 to 100us, the tests succeed on my machine.

[2016-05-09 18:31] julianoes opened #74 "FIFO buffer corruption"
Every now and then (about every 20th try) I get the FIFO buffer corruption on startup of the MPU9250 driver. A FIFO buffer reset of the sensor doesn't seem to fix the problem. Maybe a general sensor reset would help.

[2016-05-09 18:40] julianoes opened #75 "Filter/integrate MPU9250 accel/gyro values"
For the inav position estimator, we're only using 1 out of 32 samples for the gyro and 1 out of 16 samples for the accel because the FIFO buffer is read at 8 respectively 4 kHz but the data is only published at 250 Hz.

Instead of using only part of the available data, it would make sense to use the integrated values for the inav estimator (and logging) as well.

This problem does not apply to ekf

[2016-05-09 19:01] mcharleb opened #76 "Unit test for SyncObj was disabled, masked bug in waitOnSignal"
It seems the Apple implementation works, but the Linux implementation does a pthread_cond_timedwait on a monotonic clock time vs a realtime clock time and therefore returns immediately as a timeout.

This was masked because the SyncObjTest was ifdefed out.

[2016-05-11 16:17] staroselskii commented on #66
@julianoes @mhkabir

Hello guys! I launched the df_imu_test yesterday and not surprisingly got the same result.

I'm pretty sure the buffer size is configurable. The ```spidev.bufsiz``` hasn't changed anything, though.

I suppose, the problem is somewhere in ```bcm2835-spi``` driver that is the default one now (it'd been ```bcm2708-spi```before).

I'd be glad to help but I'm on vacation right now,

[2016-05-11 21:12] bo-rc commented on #66
Hi developers, sorry i am having a very difficult time right now. I thought
i could dive into the our development but i was wrong; i need another solid
month before i can help here.

I am watching the progress though. Sorry i cannot contribute now but i
will.

You are the best!

On Wed, May 11, 2016 at 11:17 AM, Georgii Staroselskii <
notifications@github.com> wrote:

[2016-05-13 16:55] mhkabir commented on #66
@staroselskii Thanks Georgii, We look forward to your comments.
@julianoes Georgii is from Emlid and will be helping us clear up this issue.

[2016-05-19 16:52] staroselskii commented on #66
@mhkabir @bo-rc @julianoes

Hello, guys! I looked into the code today and have a couple of questions.

- Why do we have a limit that equals 21 byte [here](https://github.com/PX4/DriverFramework/blob/master/framework/src/SPIDevObj.cpp#L306)? Doesn't ```bulkRead()``` suppose to handle transactions with bigger buffer sizes? Once I got rid of this condition, the test was reporting totally fine results

[2016-05-19 17:18] LorenzMeier commented on #66
@staroselskii The RPI2 has not seen the level of love and commitment it should have, so please operate under the assumption that if you find issues and you are convinced they are real and you have a fix that that's the way to go forward. Do you get by now proper inertial sensor readings with PX4 and in QGroundControl? This is what I would recommend to work against. If you show me plots (Tools/Widg

[2016-05-26 09:56] julianoes commented on #75
Done in https://github.com/PX4/Firmware/pull/4509.

[2016-05-26 09:56] #75 closed

[2016-05-26 09:57] julianoes commented on #66
Is this issue fixed in https://github.com/PX4/DriverFramework/pull/82?

[2016-05-31 14:38] julianoes commented on #73
Thanks, I believe this is fixed since #80 (and maybe some others).

[2016-05-31 14:38] #73 closed

[2016-05-31 14:38] julianoes commented on #60
Fixed with #86 / #88, thanks @jywilson.

[2016-05-31 14:38] #60 closed

[2016-05-31 14:39] julianoes commented on #76
I think fixed with #80.

[2016-05-31 14:39] #76 closed

[2016-06-01 09:38] julianoes opened #89 "Sometimes MPU9250 doesn't initialize"
Sometimes it appears that the MPU9250 doesn't initialize correctly:

[code]

Also, trying to start the MPU9250 without mag won't work at that point:
[code]

FYI: @jywilson thoughts?

[2016-06-01 13:53] julianoes opened #91 "pthread_setschedparam on QURT not behaving"
The call to dspal `pthread_setschedparam()` seems to fail on QURT:
https://github.com/PX4/DriverFramework/blob/master/framework/src/DriverFramework.cpp#L317

The return value is 48, and `errno` is 0.

Is this call supported? What does the return value mean?

[2016-06-02 21:42] jywilson commented on #89
@julianoes @mcharleb
Julian,

Perhaps if the mag is left powered on, it can't be reinitialized.

What I would recommend is to enhance the detect function in the mag class to power cycle the mag, in the same way that the get_sensitivity_adjustment method does.  This might be enough to make it responsive again.

Jim W.

[2016-06-05 20:01] julianoes opened #97 "Unit tests fail on Mac"
The unit tests fail on Mac and are therefore currently disabled (851c7116e235867e2923bd22507359310569efa7).

[code]

[2016-06-06 15:29] julianoes commented on #89
Thanks @jywilson. I tried to do what you suggested but it didn't work because the I2C transfer itself always seemed to time out. I did some tries to reset the master I2C, and reset the I2C slave. Results were not really conclusive but I haven't seen the problem since. I'll give it some more testing this week.

[2016-06-06 16:16] AD-Aleksandrov opened #101 "Trouble with mpu9250 on intel Edison"
MPU9250.
Guys, help please!
I take data several times but after that the driver is hung.
And the driver is working random time before to hang.

[2016-06-06 18:10] mayanez commented on #44
Hi,

I'm also interested in contributing support for RPi3/Navio2. Could someone post a TODO of the necessary drivers that are still missing?

Thanks!

[2016-06-07 05:48] julianoes commented on #101
Oh, this runs on Edison? :smile: What git hash are you using? Are you running the unit test? Can you put a `DF_LOG_INFO` in _measure() and check what happens?

[2016-06-07 18:07] AD-Aleksandrov commented on #101
I run the latest version. Yes, unit test. And after your commit, nothing changed: the driver is hung after a while.
I tried to understand where is bug, there is an opinion the driver is hung in SPIDevObj::_bulkRead, but i am not sure.
Thank you.

[2016-06-07 20:17] julianoes commented on #101
Well, you'll have to be sure exaclty where it hangs, otherwise it's hard to understand and fix :).

[2016-06-08 13:01] julianoes commented on #44
@mayanez I don't actually know which drivers are working on which RPi1/2/3 and Navio1/2 hardware.

I'm going to create a todo list in this issue with the combinations and everyone can jump in and tick things off.

[2016-06-08 13:20] julianoes commented on #44
Strange enough, I just tried the `df_imu_test` on RPi2/Navio2 and it passed several times. I then rebooted and tried again, unfortunately, all I see now is:

[code]

Reboots and power cycles don't seem to help.

[2016-06-08 14:14] staroselskii commented on #44
@julianoes

I've been using DF's MPU9250 for a couple of days for testing Navio 2 and it seems to work fine always.
HMC5883 driver doesn't work, though. The reason is the lacking implementation of I2C drivers for Linux, of course.

[2016-06-08 14:25] staroselskii commented on #44
UPD:

I went on and on and eventually got it to the broken state. It looks different, though:

[code]

Our old examples don't work as well after that. Only a power cycle helps.

What are these obscure 18446744073709551608 and 18446744073709551607? Is there a chance of a stack overflow somewhere in the ```alloca()``` using code?

[2016-06-08 16:09] AD-Aleksandrov commented on #101
Hang in SPIDevObj::_bulkRead, calling ::ioctl(), line 322

[2016-06-09 07:08] julianoes commented on #101
So, if the [ioctl](https://github.com/PX4/DriverFramework/blob/master/framework/src/SPIDevObj.cpp#L322) hangs, can you debug further inside that call, so in the SPI library on the edison?

[2016-06-09 14:49] mayanez commented on #44
@staroselskii What does your .config file look like? Also, what exactly is missing from the I2C drivers to get the HMC5883 working?

[2016-06-10 07:37] julianoes commented on #89
Unfortunately, the problem is back.

[2016-06-10 08:44] staroselskii commented on #44
@mayanez
Yeah, sure Navio doesn't have a HMC5883 on board. I just plugged one in the one of the spare I2C ports.

I2C driver problem is very DF-specific. I mean guys, take a look at this [line](https://github.com/PX4/DriverFramework/blob/master/framework/src/I2CDevObj.cpp#L135).

[2016-06-10 09:19] mhkabir commented on #44
Ah, we didn't implement i2c transactions for Linux userspace. @mayanez Would you mind taking a look at implementing this? Thanks!

[2016-06-10 17:36] AD-Aleksandrov commented on #101
What do you think about failed test: offsetTime(), does depend on it something?

[2016-06-10 21:49] julianoes commented on #101
`offsetTime()` is used for the scheduling of the DriverFramework but not inside `ioctl()` calls which happen in the respective drivers such as the SPI/I2C libs on the platform.

[2016-06-13 15:54] julianoes commented on #97
@mcharleb I tried to run the tests as root on my Mac locally and didn't see a difference. I think you would have to properly use the `mach` realtime scheduling interface. For now, I have just disabled timing sensitive tests on travis and that should be sufficient for the time being.

[2016-06-13 15:57] julianoes commented on #97
Worked around with #105.

[2016-06-13 15:57] #97 closed

[2016-06-13 20:57] mayanez commented on #44
@mhkabir Sure that shouldn't be a problem. However, I'm thinking of prioritizing the devices on the Navio2 first before I take a look at that. I'm working on porting the LSM9DS1 and the MS5611 since it looks like those are the main devices missing.

My Navio2 is the mail so once I finish the first pass through, would someone be able to test it in the meantime?

[2016-06-14 20:54] jywilson commented on #89
Just to clarify, the mag only has init problems after stopping and restarting the flight stack.  Is this correct?

It would probably make sense to modify the unit test to try and repro this issue, just to eliminate possible interactions with the flight stack.

I will try to look at this issue later this week and assign the problem to myself.

[2016-06-15 09:48] julianoes commented on #89
Yes correct. I can reproduce it as well using the df_imu_test though, however, this one gets stuck and doesn't seem to return (and doesn't react to Ctrl+C).

I would appreciate your help, I haven't had any luck with all my tries so far.

[2016-06-22 13:02] egorf opened #109 "/dev/ access"
Hi!

This is more of a question, than an issue. It's not exactly clear from the example, whether `/dev/gyro` will be available after starting the framework. Can the gyro be used by another application by reading/writing to `/dev/gyro`, kernel module style?

[2016-06-22 15:15] julianoes commented on #109
@mcharleb: I'm sure you can answer this best, thanks.

[2016-06-23 14:04] julianoes commented on #89
@jywilson Did you find anything here? Were you able to reproduce it?

[2016-06-23 19:34] mayanez commented on #44
I'm trying to figure out how if I need to write a driver for the GPS. Would the current UBlox drivers work? I'm not sure how to test the GPS.

[2016-06-23 19:39] LorenzMeier commented on #44
It should work just fine on POSIX. Just add it to the build.

[2016-06-23 19:46] julianoes commented on #44
Awesome @mayanez, thanks for tackling these drivers. I'll review and cross-test tomorrow.

[2016-06-23 21:10] HidenoriKobayashi commented on #44
Hi,
It seems that U-blox GPS in Navio2 is on SPI. Does the current driver support SPI?
I needed to use ublox-spi-to-pty which is a utility supplied by Emlid to get gps start.

[2016-06-24 06:36] bkueng commented on #44
@HidenoriKobayashi We've only used it via serial so far. But the interface in linux seems to be the same, to talk to an SPI device. So you can try something like `gps start -d /dev/spidev1.0`
Communication with the gps is here: https://github.com/PX4/Firmware/blob/master/src/drivers/gps/gps.cpp#L335

[2016-06-24 08:11] julianoes commented on #44
@bkueng interesting. I might give this a try later.

[2016-06-24 08:25] julianoes commented on #89
The failure is also reproducible on the RPi2 with Navio2.

[2016-06-24 08:36] julianoes commented on #44
@staroselskii:

[code]
Our old examples don't work as well after that. Only a power cycle helps.

Thanks for reporting, I get that too. It's tracked in #89 and I really don't know how to debug it further.

[2016-06-24 14:46] mayanez commented on #44
It looks like there are some differences in the configuration messages and such for UBX protocol over SPI so it won't work straight out of the box. However, Emlid has a utility that converts SPI to PTY which then allows for reusing the current implementation. So just make sure to start that utility before PX4 and GPS works.

It looks like the last step remaining before being flight ready is adding

[2016-07-04 06:23] #74 closed

[2016-07-04 06:26] LorenzMeier opened #118 "Fix 2nd pressure sensor driver"
@eyeam3 This here is incorrect:
https://github.com/PX4/DriverFramework/blob/master/drivers/ms5607/MS5607.cpp#L354

It will block the execution of other sensor drivers because they run together in a work queue on the same thread.

It will need the same fix as this one here:
https://github.com/PX4/DriverFramework/commit/29b18fba71992267f9056de32ae8090e4cc4a8a8

@julianoes FYI

[2016-07-05 12:15] egorf commented on #109
Guys? Any update on this?

[2016-07-05 12:29] bkueng commented on #109
If you mean different user-space linux applications, then no, it cannot be used.

[2016-07-05 12:34] julianoes opened #119 "i2c write fail on start"
2eb3d9bdd11a01bf26f40a35c42c3f8104a4f4e4 fails on PX4 startup:

[code]

[2016-07-05 12:44] julianoes commented on #119
The driver causing the error messages seems to be `df_trone_wrapper`.

[2016-07-05 13:03] julianoes commented on #119
Fixed in #120.

[2016-07-05 13:08] #119 closed

[2016-07-05 13:10] egorf commented on #109
Thanks

[2016-07-05 13:10] #109 closed

[2016-07-05 13:12] julianoes commented on #101
@AD-Aleksandrov We would need additional information and help for this. I'll close it for now, feel free to re-open if you have a fix or more info.

[2016-07-05 13:31] julianoes commented on #89
Fixed by #117.

[2016-07-05 13:31] #89 closed

[2016-07-05 13:32] julianoes commented on #66
Looks like it's fixed.

[2016-07-05 13:32] #66 closed

[2016-07-06 07:13] LorenzMeier opened #122 "Fix collect logic in MS5607"
@eyeam3 This fix went in for the MS5611.

https://github.com/PX4/DriverFramework/commit/bc07efc58c40b0a66f80e4c0eee5d0cdaac2eeca

Are you 100% sure you need a different driver for the MS5607? How do they differ? I would prefer to have this merged into a single driver. We're already in maintenance hell.

[2016-07-06 07:22] julianoes commented on #122
I agree but I think we will have to do some refactoring first. We'll have to talk through the architectur on a whiteboard I'd suggest.

[2016-07-06 09:49] eyeam3 commented on #122
I totally agree, that there is no need for two separate drivers. As far as I know, they only differ in `convertPressure` and `convertTemperature`.
I first wrote the driver for the MS5607, which was not tested in combination with other sensors and had that severe usleep-mistake. Sorry for that. The code was then copied to the MS5611.

[2016-07-06 10:33] LorenzMeier commented on #122
Would you have the chance to stop by in the lab at 3 or at 1?

[2016-07-06 10:35] eyeam3 commented on #122
I am not in Zurich today, but I could stop by tomorrow, if this would be possible as well.

[2016-07-06 10:36] LorenzMeier commented on #122
Let's carry on the discussion via Github then. Julian and I will quickly look at it and recommend a design pattern.

[2016-07-12 13:02] julianoes commented on #101
Presumably addressed in #123.

[2016-07-15 02:14] cudnn opened #128 "how use gpio as spi select"

[2016-07-15 02:56] cudnn opened #129 "could you add rc in. rc out. adc sim. i want use pxio board"

[2016-07-15 13:47] julianoes commented on #128
Can you elaborate this a bit please?

[2016-07-15 13:48] julianoes commented on #129
This has recently been added in https://github.com/PX4/Firmware/pull/4938. Docs will follow.

[2016-07-15 13:48] #129 closed

[2016-07-18 06:37] mocibb opened #130 "Should lock in WorkItems be removed?"
In WorkItems.cpp use inst.m_lock to make m_work_list and m_work_items thread-safe.
But m_work_list and m_work_items themself are already thread-safe list.
Is nessaccery to lock twice to make m_work_list and m_work_items thread-safe ?

[2016-07-18 11:52] mocibb commented on #130
Ignore that.  m_lock in WorkItems.cpp is use to sync WorkItem.

[2016-07-18 19:57] #101 closed

[2016-07-21 18:15] julianoes commented on #128
No info provided in 7 days, closing.

[2016-07-21 18:15] #128 closed

[2016-07-25 09:31] cudnn commented on #129
navio 2 board use diffrent spi between stm32 and imu。i want to use the same spi 。

[2016-07-25 10:18] julianoes commented on #129
I don't understand what you mean. If you want people to do something for you, you might have to put a little bit more effort into describing your problem.

[2016-07-25 18:18] ericye16 opened #133 "Accelerometer readings are offset on some MPU9250 devices"
On some MPU9250 devices, the accelerometer readings are offset. For example, this is the output of df_imu_test on a board that is sitting flat and stationary:

[code]

I don't think this is a hardware issue because when I move it, the numbers change but they are offset. I tried setting the offset parameter in the hardware but it seems to reset every boot. This wasn't happening before so is it poss

[2016-07-25 18:40] julianoes commented on #133
Hm, that looks very wrong. Are the axes correct? Is x still x, y still y, etc.?
Is this something that came up with a newer version or just a new board? If it came up through newer software you could do a `git bisect` to find the bad change.

I would argue it's a hardware fault because I have heard from at least 2 faulty MPU9250 on the Snappy boards that showed faults sort of similar to this, as i

[2016-07-25 22:27] ericye16 commented on #133
Yeah, the axes are correct. It's weird because the board exhibiting this issue:
- did not exhibit this issue before
- when reverting to software releases from earlier, still doesn't work.

I found and ported over the MPU9250 self-test functionality from: https://github.com/kriswiner/MPU-9250

and I found that for the board that doesn't work, the accelerometer reading under test and not under test

[2016-07-26 06:00] julianoes commented on #133
Ok, thanks for the info and link. Does that mean that the self test fails? And is there any other driver (version) out there that shows correct values?

[2016-07-26 18:52] ericye16 commented on #133
Heh, turns out there was a bug in the code yesterday.

Today's results on faulty board:
[code]

On a good board:
[code]

So it seems like the deviation of ~-40% might be notable...

[2016-07-26 19:23] julianoes commented on #133
I don't understand, so it's a hardware or software problem?

[2016-07-26 20:00] ericye16 commented on #133
I'm not sure...it'd be nice if I could run this on other "failing boards." It might be a common hardware problem that could be worked-around in software but currently isn't. (MPU9250 does have offset registers, but it seems like we don't use them right now...)

I'll keep looking into it and update this as necessary.

[2016-08-11 06:34] stu85010 commented on #119
Hi @julianoes , I thought the retries [method](https://github.com/PX4/Firmware/blob/master/src/drivers/device/i2c_nuttx.cpp#L191-L230) for Nuttx might prevent a potential overflow.
Please refer to [76507b6](https://github.com/stu85010/DriverFramework/commit/76507b6516475c90d2b918b6daf805e85155242c
).

[2016-08-11 07:48] julianoes commented on #119
Hi @stu85010, it looks like your fix is safer. Can you make a PR?

[2016-09-19 13:19] bkueng opened #144 "Macro inconsistencies"
40ec8612c627fb15101b2 changed the macro `__DF_LINUX` to `__LINUX`. Bebop uses `__BEBOP`. Darwin uses `__DF_DARWIN`, and for nuttx there are multiple, even some `__PX4_NUTTX`.

So what should the convention be? @julianoes

Also: the macro should be defined in `cmake/toolchains/`, but within PX4 Firmware, these never get included, and thus these macros need to be defined in the Firmware as well, whi

[2016-09-23 00:30] mcharleb commented on #144
I don't think the PX4 NuttX build actually supoprt DriverFramework. I chose __DF_LINUX so that it would not conflict with any other  upper layer project uses of __LINUX.  Projects that use DF should set the appropriate flags (__DF_LINUX, __DF_DARWIN,...). I hadn't been following the additions of __BEBOP and the change to __LINUX. There are uses for DF outside PX4 so the flags should not be changed

[2016-09-23 06:44] bkueng commented on #144
Thanks for the clarifications.

I agree and for the same reason I think we should stick to the `__DF_` prefix. It also makes it clear in the upper project where the macro belongs to.

That's something that should be documented then (is it already?). Maybe a README section 'How to include DF in your project' would be helpful here.

[2016-09-23 14:47] mcharleb commented on #30
@jywilson Jim, can you chime in as to whether a new aDSP image is required and what version?

[2016-09-27 09:11] julianoes commented on #144
Ok, I agree.

[2016-10-04 14:27] eyeam3 commented on #122
Has been fixed with #142.

[2016-10-04 14:27] #122 closed

[2016-10-04 14:27] eyeam3 commented on #118
Has been fixed with #142.

[2016-10-04 14:27] #118 closed

[2016-10-05 07:25] julianoes commented on #30
Support for termios coming in https://github.com/ATLFlight/dspal/pull/10.
Let's close this as soon as the next static image is out.

[2016-10-27 10:04] brettdaman commented on #44
Any updates for running px4 on navio2? I would like to try it.
I do not require GPS support.
What are the steps todo so?

[2016-10-27 11:00] LorenzMeier commented on #44
Check out http://dev.px4.io - there are complete instructions.

[2016-10-27 11:00] #44 closed

[2016-12-09 08:06] LorenzMeier commented on #26
@jywilson Is it feasible to remove poll() from your header for the time being then? It's super confusing that it does compile but doesn't work. What is the timeline to add it?

[2016-12-10 00:20] jywilson commented on #26
What headers are you referring to?  I couldn't find a reference to a poll function in the DSPAL headers, the Hexagon SDK headers, or the Hexagon Tools headers.

[2016-12-15 21:39] LorenzMeier opened #164 "DPLF settings for all drivers need review"
@mcharleb @julianoes on average the DPLF setting should be set around 30-50 Hz on all platforms. We need to make sure that's the case.

[2016-12-16 17:47] LorenzMeier commented on #164
@Stifael @ChristophTobler Please consult with @tumbili and @eyeam3 for details.

[2016-12-19 09:19] RomanBapst opened #166 "IMU delta time calculation problem"
The IMU drives are applying a first order low pass to the number of packets available in the FIFO buffer, see https://github.com/PX4/DriverFramework/blob/master/drivers/mpu6050/MPU6050.cpp#L445
The filtered value is used to calculate the delta time for each sensor sample.

This does not make sense and requires clarification of the original intent.

[2017-01-04 17:34] dagar opened #170 "coverity defects"
DriverFramework defects from Coverity.

You can access them https://scan.coverity.com/projects/px4-firmware/view_defects
Ping me if you need access.

![screenshot from 2017-01-04 12-30-37](https://cloud.githubusercontent.com/assets/84712/21652208/c9ee3542-d279-11e6-8255-2749a112cb79.png)

[2017-01-05 09:52] julianoes commented on #170
@dagar wow that's interesting!

[2017-01-05 21:48] mcharleb commented on #170
@dagar I get "You are not authorized to access this page"

[2017-01-05 21:51] dagar commented on #170
It looks like you have to be a member of the PX4 project on Coverity to access defect details. You should both receive invites shortly.

[2017-01-16 05:29] #170 closed

[2017-02-02 17:03] mhkabir opened #179 "Sonar inoperative on Bebop 2"
@eyeam3 Using current PX4 master, my Bebop 2 sonar does not return any measurements, staying stuck at -1.0m. I get very rare spikes with the seemingly correct distance sometimes. I checked using QGC and `listener distance_sensor`.

Let me know what you need to debug this, or let me know how I can help.

[2017-02-02 17:16] eyeam3 commented on #179
Can you activate logging on debug level in the DF driver and tell me what it prints? That would be really helpful.

[2017-02-02 17:19] mhkabir commented on #179
@eyeam3 How do I do that? Quick search didn't reveal any docs.

[2017-02-02 17:30] eyeam3 commented on #179
There is a check for `DF_DEBUG` in the logging header. You can add `#define DF_DEBUG 1` in this line https://github.com/PX4/DriverFramework/blob/master/drivers/bebop_rangefinder/BebopRangeFinder.cpp#L35. Then `DF_LOG_DEBUG` will be printed.

[2017-02-02 17:38] mhkabir commented on #179
@eyeam3 Okay, it continiously spits out
[code]
even over a hard (marble) floor, at approximately 1m from the floor. On my bed, it performs slightly better and atleast returns readings, but it still spikes a lot, and goes to "`Bellow block distance`" often.

[2017-02-02 17:48] eyeam3 commented on #179
Thanks, that helps a lot. I will check it on the weekend.

[2017-02-02 17:50] mhkabir commented on #179
Thanks! Let me know in case you need any information. I will try to debug it on my side tomorrow morning. Any pointers as to what I can try?

[2017-02-02 18:07] eyeam3 commented on #179
You can increase this value: https://github.com/PX4/DriverFramework/blob/master/drivers/bebop_rangefinder/BebopRangeFinder.cpp#L52.

However, this is not a real fix, it is just an adjustment to your environment / ground. The implemented algorithm is very simple and searches for the rising edge of the reflected signal, but apparently this is not a robust solution. I will most likely replace the ent

[2017-02-24 07:49] crossa opened #186 "sample_interval_usec is not essential for pca9685"
Now  I‘m tring to port  driver of  PCA9685 i2c module into DriverFramework.
I wrote a  Class named PCA9685 extends I2CDevObj and I found the last parameter of  I2CDevObj constructor named sample_interval_usec. This parameter is important for sensor drivers but is not necessary for pwm output.

I had read navio_sysfs_pwm_out.cpp and I found this driver run the main task without  interval and output

[2017-02-24 08:15] bkueng commented on #186
if `sample_interval_usec` is 0, the periodic update method will not be called. If you need your own loop and scheduling, then the driver framework is probably not the correct place (or at least not in its current form). It has been designed for drivers with periodic, regular updates, running on a single worker thread. You might find drivers that do it differently within the DF, but I'm not aware o

[2017-02-24 09:20] crossa commented on #186
Ok. Thanks .
I have wrote a MPU9250 driver(work with raspberry pi on Linux, not nuttx) for px4 but it in the driver not driverframework. I thought  the df was for posix system，then I want to port my driver into the framework.
Since it's different,  so give it up

[2017-02-24 09:20] #186 closed

[2017-03-13 02:57] crossa commented on #133
I have fixed it . change spi frequency to  5M not 20M
Because  mpu9250 worked as slaver and using CLK of mast as clock.
The max speed should be 20/4 = 5M not 20M

[2017-03-13 13:47] julianoes commented on #133
@crossa so this was not a hardware issue after all?

[2017-03-13 14:36] mhkabir commented on #133
@crossa Isn't running a Snapdragon Flight board incidentally. Maybe you can test on one of the faulty ones in the lab @julianoes ?

[2017-03-13 15:23] julianoes commented on #133
@mhkabir Oh yes I got that wrong. Need to check if I can find one.

[2017-03-14 01:45] crossa commented on #133
@Julianoes

It's not hardware fault.

If using any mpu9250 as spi mode, please change the frequency.

1/4 of maxmum MCU frequency is allowed.

If using maximum frequency of MCU  as the spi speed and other sensor driver is running ,the data will be offset.

Beacause the data piling up faster than the master（host） can process it.

This trouble has been bothering me for over a month.This problem can

[2017-03-14 14:02] julianoes commented on #133
@crossa got it. Thanks.

[2017-06-06 20:21] nicolaerosia opened #204 "Rework DF so we don't hardcode the sensor interface at compile time"
I was wondering if there is interest in refactoring sensors so they take the adapter type (SPI/I2C/whatever) and path to the actual adapter at start time.

Example:
https://github.com/PX4/DriverFramework/blob/master/framework/include/BaroSensor.hpp#L43
Could actually have a DevObj *m_adapter, instantiated in ctor depending on parameters.

This could all go to relevant configs:
https://github.com/P

[2017-06-07 19:52] nicolaerosia opened #205 "Linux and WorkQueues"
Hello,

After surfing through the code I noticed that every DevObj's execute function is ran by the HRTWorkQueue.
Since all sensors inherit DevObj, and they interact with low speed busses like I2C, SPI, and all of these syscalls sleep, the latency and jitter will be high and unpredictable.
In my opinion, on Linux, every sensor should have its own thread and the Linux scheduler should handle the sc

[2017-06-07 20:48] mcharleb commented on #205
@nicolaerosia In Linux if PX4 is run as root, the thread running the work queue will run as a realtime thread and so should preempt other SCHED_OTHER threads. Its true that all the buses are managed by one work queue and one proposed enhancement is to have a workqueue per bus.

[2017-06-08 07:53] bkueng commented on #204
Yes, both are desirable, but I'm not sure if it's worth the effort to do the necessary refactoring for dynamic SPI/I2C at the moment.

[2017-06-08 10:40] nicolaerosia commented on #205
@mcharleb yes, but all I/O is done on that Work Queue, hence all sensors I/O are serialized, e.g. read gyro, then read acc, then read mag, then read baro, etc. I would go for a thread per sensor

[2017-06-19 16:45] crossa opened #207 "MPU9250 mag start failure"
When using  the latest version of DriverFramework
When start mpu9250 with mag,
"ERROR [sensors] Mag #0 fail:  STALE!"  dispayed in the pxh terminal and mpu9250 didn't work

Please check it

[2017-06-19 20:56] julianoes commented on #207
@crossa on which hardware?

[2017-06-19 23:31] crossa commented on #207
@julianoes  px4firmware v1.6.3 on linux based hardware such as raspberry pi ,nano pi.
I meet this issue yesterday.  I was going to do the upgrade operation but give it up .
I have tried find the cause of the error but faild.

[2017-06-20 02:31] crossa commented on #207
@julianoes  I think the px4firmware cause the iusse.  If "ERROR [sensors] Mag #0 fail: STALE!" display,
I  can calibrate the mpu9250 senor with mag in the QGC，but it's useless .After the calibration, the driver does not work. I use the mag of mpu9250 as mag #0, I don't know whether it will work correctly if I use another independent mag .

@LorenzMeier  please check it

[2017-06-20 02:53] crossa commented on #207
@julianoes @LorenzMeier
At Firmware/src/modules/sensors/voted_sensors_update.cpp line 897
bool VotedSensorsUpdate::check_failover(SensorData &sensor, const char *sensor_name)
AND line 912.

I don't know why the mag can not pass the check

[2017-06-20 02:54] mhkabir commented on #207
@crossa It is fixed on master. Please retest.
The fix has not been merged to stable yet : https://github.com/PX4/Firmware/pull/7434

[2017-06-20 03:01] crossa commented on #207
@mhkabir
thank u . I'll retest it tonight

[2017-06-23 15:57] nicolaerosia opened #209 "MPU9250 Audit"
Hello,

I have noticed the following issues with the current driver:
* It is assumed that the sensor is doing sampling at 8 KHz, but in fact it is done at 1 KHz.
The sample rate for the gyro is set here: https://github.com/PX4/DriverFramework/blob/master/drivers/mpu9250/MPU9250.cpp#L164-L176
The sample rate for all three if-branches are the same according to the MPU9250 manual [0], page 13.
A band

[2017-06-24 08:11] julianoes commented on #209
@nicolaerosia Good analysis!

The goal about a year ago was not to use the internal MPU9250 filtering and to sample the accel (and gyro) at 4 (respective 8) kHz, then read out the values from the FIFO buffer at 1 kHz. Therefore `_packets_per_cycle_filtered` would be 8.
The goal was to integrate the samples and use that in the ekf2.

Later, we found that the performance was not great (for whatever

[2017-06-24 19:20] nicolaerosia commented on #209
@julianoes  Just a quick comment, a bandwidth of 184Hz has the same sampling rate as 41 Hz, take a look at page 13, [0].

[2017-06-25 20:08] nicolaerosia commented on #209
Another problem is related to timestamp, given that we query the FIFO at 1 KHz, and FIFO samples internally at 8 KHz, we need to report the correctly adjusted timestamp and push it to df_mpu9250_wrapper.
The existing `struct imu_sensor_data` from `ImuSensor.hpp` is limited because it implies that you're publishing accel & gyro & mag.
In our setup, the mag sampling rate is limited to 100Hz and we a

[2017-06-26 03:46] #207 closed

[2017-06-26 06:40] julianoes commented on #209
Yes correct. But we got there historically because we wanted to use the highest sampling possible, and lesat internal filtering. Then it needed to be slowed down for Edison and Raspberry Pi. Later, only the default (for Snapdragon) was changed back to 41 Hz.

[2017-06-26 06:44] julianoes commented on #209
@nicolaerosia I think I see your timestamp concerns but couldn't we use `fifo_sample_interval_us` as well to account for it? And, don't the duplicate values disappear anyway when you integrate 4 samples into 1 sample from 1 kHz to 250 Hz?

[2017-06-26 06:55] nicolaerosia commented on #209
@julianoes the idea is to drop the rate limiting from df_mpu9250_wrapper and publish at whatever frequency the driver publishes, please check https://github.com/PX4/Firmware/issues/7449 .
The duplicate values won't disappear even with rate limiting to 250 Hz since the mag is sampled at 100 Hz.

[2017-06-26 06:55] nicolaerosia commented on #209
@julianoes I still don't get why default (Snapdragon) changed to 41 Hz because it has the same sampling rate (1 KHz) only different filtering parameters to limit the bandwidth to 41 Hz.

[2017-06-26 07:10] julianoes commented on #209
The duplicate values won't disappear even with rate limiting to 250 Hz since the mag is sampled at 100 Hz.

Ok sure. It makes sense then I think.

[2017-06-26 07:11] julianoes commented on #209
This was just to match the Pixhawk/Pixracer PX4/Firmware driver and pipeline.

[2017-09-01 22:01] jgs2185 opened #221 "Bug in DriverFramework.cpp ? 'wait_time_usec' was not declared in this scope"
When I enable DF_DEBUG I can no longer compile due to the position of declaration of wait_time_usec.
 https://github.com/PX4/DriverFramework/blob/master/framework/src/DriverFramework.cpp#L484

[2017-09-02 07:01] julianoes commented on #221
Thanks for the issue, see #222.

[2017-09-04 08:50] #221 closed

[2018-02-22 15:08] julianoes commented on #30
This has been in for a while, closing.

[2018-02-22 15:08] #30 closed

[2018-02-22 15:08] julianoes commented on #26
Stale, closing.

[2018-02-22 15:08] #26 closed

[2018-02-22 15:08] julianoes commented on #24
Stale, closing.

[2018-02-22 15:08] #24 closed

[2018-02-22 15:17] julianoes commented on #91
A well, closing.

[2018-02-22 15:17] #91 closed

[2018-09-28 16:28] bartslinger opened #230 "Priority way too low"
I am experiencing issues on Bebop 2 because the DriverFramework priority is hard-coded to **10** (!!). Basically everything else is running at a higher priority. This is terrible because now we have IMU and MAG on the lowest priority.

https://github.com/PX4/DriverFramework/blob/master/framework/src/DriverFramework.cpp#L333

However I'm not sure what would be an appropriate value here. That's what

[2018-09-29 13:14] julianoes commented on #230
Interesting find! Have you tried changing it and tested the results?

[2018-09-29 23:09] bartslinger commented on #230
I got a ton of warnings like Accel TIMEOUT when running heavy calculations (opencv stuff) in another thread at prio 35. Then I changed DriverFramework priority from 10 to 97 and those warnings disappeared. On linux systems such as bebop, the priority range for SCHED_FIFO is 1 to 99. I don't know if other posix px4 systems exist with different priority ranges.

`wkr_hrt` and `bebop_bus_esc_main` ar

[2018-09-29 23:47] mhkabir commented on #230
@bartslinger Tangential question, are you running OpenCV onboard the Bebop?

[2018-09-30 05:34] julianoes commented on #230
@bartslinger to me it seems like it makes sense to bump the priority then.

[2018-10-03 22:02] bartslinger opened #232 "Bebop 2 Rangefinder real-time issue"
The range finder uses the SPI bus to generate pulses. This is a blocking SPI write call at a relatively low frequency. 32 bytes = 190 bits, at 320kHz equates to 800us. That's already quiet a long time, but it turns out that the SPI write call can take much longer. I put a perf counter around the following write call: https://github.com/PX4/DriverFramework/blob/master/drivers/bebop_rangefinder/Bebo

[2018-11-06 04:21] meanpenguin opened #234 "Raspberry Only HCM5983 Compass Calibration not working"
Using a Raspberry Pi with a NEO-M8T GPS and an external hmc5983 compass.
Utilizing the Navio2 Raspberry Pi image

Had some initial issues so the first problem was tracked down to the i2c bus.
Given that the raspberry only has /dev/i2c-1.
Changed code from using /dev/i2c-2 to /dev/i2c-1 in
/src/Firmware/src/lib/DriverFramework/drivers/hmc5883/hmc5883.hpp
#define MAG_DEVICE_PATH "/dev/i2c-1"

**Issu

[2018-12-11 08:37] karliss commented on #209
Any progress on this? Current settings for snapdragon are unusable due to empty FIFO being considered an error. When sampling 1k samples at 1kHz it is not uncommon to read either 0 or 2 samples, this quickly triggers ERROR_FLAG_ERRCOUNT. Running minimal amount of modules results in an error every 2-5 seconds, but using more typical set of modules causes 20-30 EMPTY FIFO per second reaching NORETUR

[2018-12-11 09:00] julianoes commented on #209
@karliss I don't think anyone is working actively on this. I think we're open for a pull request to fix the fifo error that you're describing.

[2018-12-11 14:14] dagar commented on #209
This isn't a short term solution, but the new mpu9250 driver in the Firmware tree (https://github.com/PX4/Firmware/pull/10602) is going to work everywhere (nuttx, linux, and qurt).

[2018-12-12 21:50] davidaroyer commented on #209
@julianoes @dagar I've been looking at the empty FIFO issue that @karliss just brought up. I never noticed this issue until recently when I started seeing the px4 shell spammed with the "FIFO Count: 0" message.

After quite a bit of bench testing, I have found that if I add a simple 10 microsecond sleep when the fifo is empty, the driver can march on with data and it avoids quickly triggering the

[2018-12-29 14:03] julianoes opened #236 "DSP console flodded with printfs"
The DSP console is unusable because it gets flodded with lines like this:

[code]

[2019-05-23 19:28] smnogar commented on #236
Note that this corresponds with IMU error events and the IMU reaches the 10k event threshold around 5 minutes in my case. This is on a snapdragon flight.

[2019-07-23 06:32] hamishwillee commented on #209
@julianoes @dagar Can you respond to the part from https://github.com/PX4/DriverFramework/issues/209#issuecomment-446757271

Aerotenna have been waiting on this before updating docs etc for v1.9 - the opoc doesn't work out of the box because of this. Can you provide direction?

[2019-07-23 07:15] julianoes commented on #209
I haven't looked at this in a long time and have no opinion. I suggest that you go ahead and do what makes sense to you and works. Thanks.

[2019-07-24 21:36] #209 closed

[2019-07-24 21:36] #56 closed

[2019-07-24 21:36] #204 closed

[2019-07-24 21:37] #205 closed

[2019-07-25 01:21] dagar commented on #205
This should be resolved in the updated drivers PX4 side with a thread per bus.

[2019-10-10 06:40] julianoes commented on #133
This is probably outdated, closing.

[2019-10-10 06:40] #133 closed

[2020-01-15 14:12] julianoes commented on #236
All drivers have been moved to the PX4 Firmware repo, see https://github.com/PX4/Firmware/pull/13900.

I'm therefore closing the isssues here.

[2020-01-15 14:12] #236 closed

[2020-01-15 14:12] julianoes commented on #234
All drivers have been moved to the PX4 Firmware repo, see https://github.com/PX4/Firmware/pull/13900.

I'm therefore closing the issues here.

[2020-01-15 14:12] #234 closed

[2020-01-15 14:13] julianoes commented on #232
Most drivers have been moved to the PX4 Firmware repo, see https://github.com/PX4/Firmware/pull/13900.

I'm therefore closing the issues here.

[2020-01-15 14:13] #232 closed

[2020-01-15 14:13] julianoes commented on #179
Most drivers have been moved to the PX4 Firmware repo, see https://github.com/PX4/Firmware/pull/13900.

I'm therefore closing the issues here.

[2020-01-15 14:13] #179 closed

[2020-01-15 14:13] julianoes commented on #166
Most drivers have been moved to the PX4 Firmware repo, see https://github.com/PX4/Firmware/pull/13900.

I'm therefore closing the issues here.

[2020-01-15 14:13] #166 closed

[2020-01-15 14:13] julianoes commented on #164
Most drivers have been moved to the PX4 Firmware repo, see https://github.com/PX4/Firmware/pull/13900.

I'm therefore closing the issues here.

[2020-01-15 14:13] #164 closed

[2020-01-15 14:13] julianoes commented on #144
Most drivers have been moved to the PX4 Firmware repo, see https://github.com/PX4/Firmware/pull/13900.

I'm therefore closing the issues here.

[2020-01-15 14:13] #144 closed

[2020-01-15 14:14] julianoes commented on #20
So long :wave:.

[2020-01-15 14:14] #20 closed